{% extends layout %}

{% block body %}
<table class="container">
  <tr>
    <td>
      {% include example-col-12 %}

      {% include example-col-6 %}

      {% include example-col-offset-4 %}
    </td>
  </tr>
</table>
{% endblock %}
