<table class="row">
  <tr>
    <td class="wrapper col-offset-4">
      <table class="col col-8">
        <tr>
          <td class="module">
            <p class="text-left">.col-offset-4 .col .col-8</p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
