<table class="row">
  <tr>
    <td class="wrapper">
      <table class="col col-12">
        <tr>
          <td class="module">
            <p class="text-center">.col .col-12</p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
