<table class="container">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper">
            <table class="col col-12">
              <tr>
                <td class="module">
                  <p class="text-center">Made by <a href="http://xxix.co">XXIX</a></p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
