<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% include head %}
  </head>
  <body marginheight="0" topmargin="0" marginwidth="0" bgcolor="#FFFFFF" leftmargin="0">
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>

          <!-- Email Content -->
          {% block body %}
            Default Content
          {% endblock %}

          {% include foot %}

          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
